.adminpage-body {
    text-align: center;
}

.team-list-container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}



.team-list-container .rdt_TableCell > div {
  white-space: normal !important;
}

.team-list-container input {
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    height: 100%;
}

.team-list-container option {
    height: 100%;
}

.team-list-container select {
    font-family: 'Poppins', sans-serif !important;
}

.team-list-container .icon {
    margin: auto;
    display: block;
}


.team-list-container .check-icon {
    color: green;
}

.team-list-container .times-icon {
    cursor: pointer;
    color: red;
}